<ion-header>
  <ion-navbar>
    <ion-title>
      Movimiento
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="center">
    <div>
      <button ion-button (click)="btCeroCero()" small color="light" >0,0</button>
      <button ion-button (click)="btUnoCero()"small color="light">1,0</button>
      <button ion-button small color="light">2,0</button>
      <button ion-button small color="light">3,0</button>
      <button ion-button small color="light">4,0</button>
    </div>
    <br>
    <div>
      <button ion-button small color="light">0,1</button>
      <button ion-button small color="light">1,1</button>
      <button ion-button small color="light">2,1</button>
      <button ion-button small color="light">3,1</button>
      <button ion-button small color="light">4,1</button>
    </div>
    <br>
    <div>
      <button ion-button small color="light">0,2</button>
      <button ion-button small color="light">1,2</button>
      <button ion-button small color="light">2,2</button>
      <button ion-button small color="light">3,2</button>
      <button ion-button small color="light">4,2</button>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div align="center">
    <button ion-button color="danger">Calibrar</button>
    <br>
    <br>
    <button ion-button color="default">Start</button>
    <button ion-button color="dark">Stop</button>
  </div>
  <!----->
  <div align="center">
    <ion-list padding>
      <button ion-button block (click)="starScanning()">Buscar</button>
      <ion-list-header>
        Dispositivos emparejados
      </ion-list-header>
      <ion-item *ngFor="let device of pairedDevices">
        {{device.name}}
      </ion-item>
      <button ion-button block (click)="disconnect()">Desconectar</button>
      <ion-list-header>
        Dispositivos Disponibles
      </ion-list-header>
      <ion-item *ngFor='let device of unpairedDevices'>
        <span (click)="selectDevice(device.address)">
          {{device.name}}
        </span>
      </ion-item>
      <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
    </ion-list>
   </div>
</ion-content>

